#**Type Casting**

Type Casting is the method to convert the variable data type into a certain data type in order to the operation required to be performed by users. Python has two types of Type Casting:
1. Implicit Type Casting
2. Explicit Type Casting

**Implicit Type Casting**

In Implicit type casting, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [ ]:
#Casting Integer to Float
num_1 = 123
num_2 = 1.23
total = num_1 + num_2
print(num_1,"+",num_2,"=",total)
print("Total data type is", type(total))

123 + 1.23 = 124.23
Total data type is <class 'float'>

**Explicit Type Casting**

In Explicit Type Casting, Python need user involvement to convert the variable data type into certain data type in order to the operation required.

Mainly in type casting can be done with these data type function:

- Int() : Int() function take float or string as an argument and return int type object.
- float() : float() function take int or string as an argument and return float type object.
- str() : str() function take float or int as an argument and return string type object.

In [ ]:
#Casting Integer to Float
a = 15
b = float(a)
print("a =", a, "\ndata type a is", type(a))
print("b = ", b, "\ndata type b is", type(b))

a = 15
data type a is <class 'int'>
b =  15.0
data type b is <class 'float'>

In [ ]:
#Casting Float to Integer
c = 27.9
d = int(c)
print("c =", c, "\ndata type c is", type(c))
print("d = ", d, "\ndata type d is", type(d))

c = 27.9
data type c is <class 'float'>
d =  27
data type d is <class 'int'>

In [ ]:
#Casting Integer to String
e = 24
f = str(e)
print("e =", e, "\ndata type e is", type(e))
print("f = ", f, "\ndata type f is", type(f))

e = 24
data type e is <class 'int'>
f =  24
data type f is <class 'str'>

In [ ]:
#Casting Float to String
g = 41.8
h = str(g)
print("g =", g, "\ndata type g is", type(g))
print("h = ", h, "\ndata type h is", type(h))

g = 41.8
data type g is <class 'float'>
h =  41.8
data type h is <class 'str'>

In [ ]:
#Casting String to Integer
i = "2022"
j = int(i)
print("i =", i, "\ndata type i is", type(i))
print("j = ", j, "\ndata type j is", type(j))

i = 2022
data type i is <class 'str'>
j =  2022
data type j is <class 'int'>

In [ ]:
#Casting String to Float
k = "72"
l = float(k)
print("k =", k, "\ndata type k is", type(k))
print("l =", l, "\ndata type l is", type(l))

k = 72
data type k is <class 'str'>
l = 72.0
data type l is <class 'float'>

In [ ]:
#Wrong casting example 1
m = "2Apr2022"
n = int(m)
print("m =", m, "\ndata type m is", type(m))
print("n =", n, "\ndata type n is", type(n))

ValueError: ignored

In [ ]:
#Wrong casting example 2
o = "eight"
p = float(o)
print("o =", o, "\ndata type o is", type(o))
print("p =", p, "\ndata type p is", type(p))

ValueError: ignored

If there's a mathematics expression in String, we can calculate it with eval()

In [ ]:
#Example 1
q = "15 + 18"
r = eval(q)
print("q is", type(q), "with value", q)
print("result if use eval() in q is", r)
print("data type changed to", type(r))

q is <class 'str'> with value 15 + 18
result if use eval() in q is 33
data type changed to <class 'int'>

In [ ]:
#Example 2
s = "28 + 11.5"
t = eval(s)
print("s is", type(s), "with value", s)
print("result if use eval() in s is", t)
print("data type changed to", type(t))

s is <class 'str'> with value 28 + 11.5
result if use eval() in s is 39.5
data type changed to <class 'float'>

Beside Python primitive data types, we can also casting List and Tuple to Dictionary with note that List or Tuple has more than one couples data to satisfy the key-value requirements on Dictionary

In [ ]:
#Casting List to Dictionary
lst = [[12, 4],["name","John"], ["age",23]]
dct_1 = dict(lst)
print("this is List =", lst)
print("this is Dictionary =", dct_1)

this is List = [[12, 4], ['name', 'John'], ['age', 23]]
this is Dictionary = {12: 4, 'name': 'John', 'age': 23}

In [ ]:
#Casting Tuple to Dictionary
tpl = (("name", "jane"), ("age", 18), (11, 90))
dct_2 = dict(tpl)
print("this is Tuple =", tpl)
print("this is Dictionary =", dct_2)

this is Tuple = (('name', 'jane'), ('age', 18), (11, 90))
this is Dictionary = {'name': 'jane', 'age': 18, 11: 90}

#**Input and Output**

Python provides numerous built-in functions that are readily available to us at the Python prompt. Some of the functions like input() and print() are widely used for standard input and output operations respectively.

**Input in Python**

Sometimes a developer might want to take user input at some point in the program. To do this Python provides an input() function.

Python takes all the input as a string input by default. To convert it to any other data type we have to convert the input explicitly. For example, to convert the input to int or float we have to use the int() and float() method respectively.

In [ ]:
name = input("who's your name = ")
print("Hi {}! How are you today?".format(name))

who's your name = gais
Hi gais! How are you today?

In [ ]:
one = int(input("insert number 1 = "))
two = int(input("insert number 2 = "))
total = one + two
print()
print("The result of substraction is {}".format(total))
print("The data type is", type(total))

insert number 1 = 2
insert number 2 = 1

The result of substraction is 3
The data type is <class 'int'>

**Output in Python**

Python provides the print() function to display output to the standard output devices. 

Syntax: print(value(s), sep= ‘ ‘, end = ‘\n’, file=file, flush=flush)

Parameters:
- value(s): Any value, and as many as you like. Will be converted to string before printed
- sep=’separator’: (Optional) Specify how to separate the objects, if there is more than one. **Default :’ ‘**
- end=’end’: (Optional) Specify what to print at the end. **Default : ‘\n’**
- file: (Optional) An object with a write method. **Default :sys.stdout**
- flush: (Optional) A Boolean, specifying if the output is flushed (True) or buffered (False). **Default: False**
- Returns: It returns output to the screen.

In [ ]:
#print() method
print("ANGEL")

ANGEL

In [ ]:
#Disabling the softspace feature
print("A","N","G","E","L")

A N G E L

In [ ]:
#print() with custom end parameter
print("ANGEL", end="?!")

ANGEL?!

In [ ]:
#print() with custom sep parameter
print("A","N","G","E","L", sep="-")

A-N-G-E-L

**Formatting Output**

1. Using Formatted string literals


> We can use formatted string literals, by starting a string with f or F before opening quotation marks or triple quotation marks. In this string, we can write Python expressions between { and } that can refer to a variable or any literal value.

In [ ]:
name = "Jackson"
weather = "Rainy"
print(f"Hi {name}! today is {weather}, isn't it?")

Hi Jackson! today is Rainy, isn't it?

2. Using format()

> We can also use format() function to format our output to make it look presentable. The curly braces { } work as placeholders. We can specify the order in which variables occur in the output.

In [ ]:
name = "Jackson"
weather = "Rainy"
print("Hi {}! today is {}, isn't it?".format(name,weather))

Hi Jackson! today is Rainy, isn't it?

In [ ]:
a = "k-pop"
b = "pizza"
c = "cat"
print("My fav food is {2} and my fav animal is {0}, I also love {1}".format(c,a,b))

My fav food is pizza and my fav animal is cat, I also love k-pop

3. Using % format

> We can use ‘%’ operator. % values are replaced with zero or more value of elements. The formatting using % is similar to that of ‘printf’ in the C programming language.
- %d – integer
- %f – float
- %s – string
- %x – hexadecimal
- %o – octal

In [ ]:
n = "Jake"
a = 21
h = 175.2
print("His name is %s. He's %d years old and his height is %.2f cm." %(n,a,h))

His name is Jake. He's 21 years old and his height is 175.20 cm.

#**Dynamic Typing**

Types in Python are determined during run-time as opposed to compile-time and thus programmers are not required to declare variables before using them in the code.

Technically, a variable is created when it's assigned a value for the first time in the code. This means that a variable must first be assigned a value before it is referenced in the code otherwise an error will be reported. And as mentioned earlier, the variable assignment never comes with a type definition since the type is stored with objects and not with variables/names. Every time a variable is identified, it automatically gets replaced with the object in memory it references.

In [ ]:
# Varible x has integer value
x = 10
print("x value is", x, "and the type is",type(x))

# Assign another value in x variable and the value will be replaced
x = "Good morning!"
print("x value is", x, "and the type is", type(x))

x value is 10 and the type is <class 'int'>
x value is Good morning! and the type is <class 'str'>

#**Transformation**

**lower**

In Python, lower() is a built-in method used for string handling. The lower() methods returns the lowercased string from the given string. It converts all uppercase characters to lowercase. If no uppercase characters exist, it returns the original string.

Syntax: string.lower()

In [ ]:
sentence_1 = "Everyday is a GOOD day!"
print(sentence_1.lower())

everyday is a good day!

**upper**

In Python, upper() is a built-in method used for string handling. The upper() methods returns the uppercased string from the given string. It converts all lowercase characters to uppercase. If no lowercase characters exist, it returns the original string.

Syntax: string.upper()

In [ ]:
sentence_2 = "Do your Best, SO you cAn Get iT"
print(sentence_2.upper())

DO YOUR BEST, SO YOU CAN GET IT

**rstrip**

Python String rstrip() method returns a copy of the string with trailing characters removed (based on the string argument passed). If no argument is passed, it removes trailing spaces.

Syntax: string.rstrip(chars)

chars (optional) – a string specifying the set of characters to be removed.

In [ ]:
hey = "hello   "
print(hey)
print(hey.rstrip())

hello
hello

In [ ]:
name = "Bobbyyyyyy"
print(name)
print(name.rstrip("y"))

Bobbyyyyyy
Bobb

**lstrip**

Python String lstrip() method returns a copy of the string with leading characters removed (based on the string argument passed). If no argument is passed, it removes leading spaces.

Syntax: string.lstrip(chars)

chars (optional) - a set of characters to remove as leading characters.

In [ ]:
wyd = "      what you doing?"
print(wyd)
print(wyd.lstrip())

      what you doing?
what you doing?

In [ ]:
random = "++.!^@@???? what?"
print(random)
print(random.lstrip("+.!^@? "))

++.!^@@???? what?
what?

**strip**

strip() is an inbuilt function in Python programming language that returns a copy of the string with both leading and trailing characters removed (based on the string argument passed).

Syntax: string.strip(chars)

There is only one optional parameter in it:

chars - a string specifying the set of characters to be removed. 

If the optional chars parameter is not given, all leading 
and trailing whitespaces are removed from the string.

**Startswith**

The startswith () method returns True if the string starts with the specified value, otherwise False.

In [ ]:
a = "Hello, welcome to Python"

In [ ]:
a.startswith("Hello")

True

In [ ]:
a.startswith("Python")

False

In [ ]:
a.startswith("Hello, welcome to")

True

**Endswith**

The endswith() method returns True if the string ends with the specified value, otherwise False.

In [ ]:
b = "See you later"

In [ ]:
b.endswith("later")

True

In [ ]:
b.endswith("See")

False

In [ ]:
b.endswith ("you later")

True

# Change The String Element

## Replace()

The replace() method replaces a specified phrase with another specified phrase.

The syntax : *string.replace(oldvalue, newvalue, count)*


Parameter Values:

*   *oldvalue* => Required. The string to search for
*   *newvalue* =>	Required. The string to replace the old value with
*   *count* =>	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [ ]:
a = "Anna likes  coffe, but Elsa likes tea"

In [ ]:
a.replace("likes","loves")

#Replace all occurrence of the word "likes":

'Anna loves  coffe, but Elsa loves tea'

In [ ]:
a.replace("likes", "loves", 1)

#Replace the first occurrence of the word "loves":

'Anna loves  coffe, but Elsa likes tea'

# Check The String

## Isupper

The isupper() method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

Syntax : *string.isupper()*

In [ ]:
x = "WE ARE CODE TEAM"

In [ ]:
x.isupper()

True

In [ ]:
y = "We Are Code Team"

In [ ]:
y.isupper()

False

In [ ]:
z = "we are code team"

In [ ]:
z.isupper()

False

## Islower

The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

Syntax : *string.islower()*

In [ ]:
x = "WE ARE CODE TEAM"

In [ ]:
x.islower()

False

In [ ]:
y = "We Are Code Team"

In [ ]:
y.islower()

False

In [ ]:
z = "we are code team"

In [ ]:
z.islower()

True

# Chain of Method

We can do operation to other operation results

In [ ]:
print("Code".upper().lower())
#change the string from upper fisrt and then to lower

code

In [ ]:
print("Code".lower().upper())
#change the string from lower fisrt and then to upper

CODE

In [ ]:
print("Code".upper().lower().islower())
#show the result whether it is true or false

True

In [ ]:
print("Code".lower().upper().isupper())
#show the result whether it is true or false

True

## Isalpha

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

Syntax : *string.isalpha()*

In [ ]:
Example = "Tokopedia"

In [ ]:
Example.isalpha()

True

In [ ]:
Example = "Tokopedia2022"

In [ ]:
Example.isalpha()

False

## Isalnum

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

Syntax : *string.isalnum()*

In [ ]:
x = "Shopee"

In [ ]:
x.isalnum()

True

In [ ]:
x = "Shopee2022"

In [ ]:
x.isalnum()

True

In [ ]:
x = "Shopee 2022"

In [ ]:
x.isalnum()
#false because use "space"

False

##Isdecimal

The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

Syntax : *string.isdecimal()*

In [ ]:
This_year = "2022"

In [ ]:
This_year.isdecimal()

True

In [ ]:
This_month = "March2022"

In [ ]:
This_month.isdecimal()
#false because there is alphabe

False

#Isspace

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

Syntax : *string.isspace()*

In [ ]:
c = " "

In [ ]:
c.isspace()

True

In [ ]:
d = "Data Science"

In [ ]:
d.isspace()
#false because not only space

False

##Istitle

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

Syntax : *string.istitle()*

In [ ]:
Python = "Hello, Welcome To Python"

In [ ]:
Python.istitle()

True

In [ ]:
Python = "hello, welcome to python"

In [ ]:
Python.istitle()

False

In [ ]:
Python = "HELLO, WELCOME TO PYTHON"

In [ ]:
Python.istitle()

False

# Formatting The String

## zfill

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

Syntax : *string.zfill(len)*


Parameter Values
*   len	=> Required. A number specifying the desired length of the string

In [ ]:
a = "hello"

In [ ]:
a.zfill(10)

'00000hello'

In [ ]:
b = "welcome to the jungle"

In [ ]:
b.zfill(10)

'welcome to the jungle'

In [ ]:
c = "10.000"

In [ ]:
c.zfill(10)

'000010.000'

#Operation List, Set, dan String

len()

calculate the length or number of elements of a List

In [ ]:
#list
a = [3,5,5,7,7,7]
print(a)

[3, 5, 5, 7, 7, 7]

In [ ]:
len(a)

6

In [ ]:
c ="Data Science"
print(c)

Data Science

In [ ]:
len(c)

12

min() dan max()

The smallest number and the largest number

In [ ]:
a = [3,4,5,6,7,8]
min(a)

3

In [ ]:
max(a)

8

count()

Knowing the amount on an object

In [ ]:
a = [1,1,1,2,3,4,4]
a.count(1)

3

Merging and Replication

The list also allows merging (+) and replication (*)

In [ ]:
a = [1,1,2,2,2,3,3,4,5]

In [ ]:
b = ["d","a","t","a"]

In [ ]:
a + b

[1, 1, 2, 2, 2, 3, 3, 4, 5, 'd', 'a', 't', 'a']

In [ ]:
b*2

['d', 'a', 't', 'a', 'd', 'a', 't', 'a']

You can also use the multiplier function to initialize a list

In [ ]:
tiga = [3]*3

In [ ]:
print(tiga)

[3, 3, 3]

In [ ]:
len(tiga)

3

Range

1. the range() function returns a series of months with a certain pattern

2. To perform loops (eg for) in accessing list elements, you can use the range() function in python.

3. More details about loop operations will be discussed in the loop module

range function can have 1-3 parameters

range with 1 parameter n: create a series of numbers starting from 0, as many as n numbers

In [ ]:
for i in range(3):
  print(i)

0
1
2

1. Range with 2 parameters n,p: create a series of numbers starting from n, until before p (number p does not follow)
2. Often referred to as inclusive n (series starting with the number n) and exclusive p (series not including numbers p)

In [ ]:
for i in range(2,5):
  print(i)

2
3
4

1. Range with 3 parameters n, p, q: create a series of numbers starting from n, until before p (the number p does not follow) with each element having a difference of q

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

in and not in

operators in and not in: to find out a value or object is in the list

this function will return a boolean value True or False

In [ ]:
kita = "aku dan kamu"

In [ ]:
"aku" in kita

True

In [ ]:
"dia"in kita

False

In [ ]:
"kamu" not in kita

False

Assign values ​​to multiple variables

has multiple variables and needs to assign values ​​to those variables.

In [ ]:
makanan = ["Bakso", "Bakso teluar", "pedas"]

In [ ]:
print(makanan)

['Bakso', 'Bakso teluar', 'pedas']

In [ ]:
nama = makanan[0]
print(nama)

Bakso

In [ ]:
jenis = makanan[1]
print(jenis)

Bakso teluar

In [ ]:
rasa = makanan[2]
print(rasa)

pedas

Sort()

1. sort numbers or order of letters
2. can use list

In [ ]:
nilai = [40,20,30,10,50]

In [ ]:
nilai.sort()
print(nilai)

[10, 20, 30, 40, 50]

We can also enter the keyword reverse=True in the parameter to make the order reverse

In [ ]:
huruf = ["d", "i", "a"]

In [ ]:
huruf.sort()
print(huruf)

['a', 'd', 'i']

In [ ]:
huruf.sort(reverse=True)
print(huruf)

['i', 'd', 'a']

The sort method uses a sequence of capital letters (uppercase) to be preceded by lowercase letters (lowercase).

In [ ]:
nama = ["Budi","calvin", "andi"]
nama.sort()
print(nama)

['Budi', 'andi', 'calvin']

1. We can enter the keyword str.lower in the parameter
2. Today we will make the sort method assume all objects are lowercase, without changing the original state of the object

In [ ]:
nama = ["Budi", "calvin", "andi"]
nama.sort(key=str.lower)
print(nama)

['andi', 'Budi', 'calvin']

In [ ]:
#Bagian Eri

**Assign Values to Multiple Variables**

Mark the variables with the desired value, one by one

In [ ]:
# Example 
x = ["Nicole","University of Toronto","psychology"]
name=x[0]
university = x [1]
major = x [2]
print(name)
print(university)
print(major)
print(name,university,major)

Nicole
University of Toronto
psychology
Nicole University of Toronto psychology


**Assign Values to Multiple Variables**

Assigns values to multiple variables from a list or tuple element without marking them individually

In [ ]:
# Example 
y = ["sneakers","Nike","black"]
name, brand, color = y
print(name)
print(brand)
print(color)

sneakers
Nike
black

The number of variables and the number of items in the list/tuple must be the same

In [ ]:
# Example 
y = ["sneakers","Nike","black"]
name, brand, color, price = y
print(name)

ValueError: ignored

Assignment to multiple variables can be used to swap the values of two or more variables

In [ ]:
# Example 
snack, flavor = "potato chips","roast beef"
snack, flavor = flavor, snack
print(snack)
print(flavor)

roast beef
potato chips

**Sort**

The method sorts the elements of a given list in a specific ascending or descending order.

can be used to sort a list of integers, floating-point numbers, strings, and others.

Ascending

Sort the List in Ascending Order

In [ ]:
# Example (Sort the list number)
number=[20,25,7,14,30,40]
number.sort()
print(number)

[7, 14, 20, 25, 30, 40]

In [ ]:
# Example (Sort the list string)
color=["blue","red","yellow","green"]
color.sort()
print(color)

['blue', 'green', 'red', 'yellow']

Descending


reverse - If , the sorted list is reversed (or sorted in Descending order)

key - function that serves as a key for the sort comparison

In [ ]:
# Example 
name = ["Oliver","William","Jaxson","Lucas"]
name.sort(reverse=True)
print(name)

['William', 'Oliver', 'Lucas', 'Jaxson']

Can't sort a list that has both a number and a string in it

In [ ]:
# Example 
clothes = ["jacket","pants",28,"t-shirt",30]

In [ ]:
clothes.sort()

TypeError: ignored

Enter the keyword str.lower in the parameter. To assume all objects are lowercase, without changing the object's original state

In [ ]:
# Example 
fruit = ["apple","Watermelon","Banana","strawberry"]
fruit.sort(key=str.lower)
print(fruit)

['apple', 'Banana', 'strawberry', 'Watermelon']

# **Operator, Operands, and Expressions**

Operators are the constructs which can manipulate the value of operands.

Consider the expression 7 + 5 = 12. Here, 7 and 5 are called operands and + is called operator.

(\+) Addition

Adds values on either side of the operator.

In [ ]:
52+8

60

In [ ]:
"Mi"+"cro"+"soft"

'Microsoft'

(\-) subtraction

Subtracts right hand operand from left hand operand.

In [ ]:
263-21

242

In [ ]:
"Microsoft"-"soft"

TypeError: ignored

(\*) multiply

Gives the multiplication of the two numbers or returns the string repeated that many times.

In [ ]:
40*103

4120

In [ ]:
"okay"*4

'okayokayokayokay'

(\**) Exponent

Performs exponential (power) calculation on operators

In [ ]:
15**5

759375

(\**0.5) squared root

In [ ]:
81**0.5

9.0

(\/) division 

Divides left hand operand by right hand operand

In [ ]:
1200/25

48.0

(\//) floor division

The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, ie, rounded away from zero (towards negative infinity)

In [ ]:
75//16

4

In [ ]:
40//8

5

(\%) modulo

Divides left hand operand by right hand operand and returns remainder

In [ ]:
63%5

3

In [ ]:
15%4.5

1.5

Less than (<)

will return boolean values, True or False

In [ ]:
1<2

True

In [ ]:
1<2<5<6

True

Greater than (>)

In [ ]:
1>2

False

Less than or equal to (<=)

In [ ]:
1<=1

True

Greater than or equal to (>=)

In [ ]:
1>=3

False

Equal to (==)
Compare the operand have the same values or not

In [ ]:
a=1
b=2
c=1

In [ ]:
a==b

False

In [ ]:
a==c

True

Also can used in string data type (case sensitive)

In [ ]:
x="YAHH"
y="YAHH"
z="yahh"

In [ ]:
x==y

True

In [ ]:
x==z

False

Not equal to (!=)
Same concept like equal to, but will return the opposite value

In [ ]:
a!=b

True

In [ ]:
a==c

True

In [ ]:
a!=c

False

In [ ]:
a>b

False

In [ ]:
b<=a

False

In [ ]:
b>=a

True

Boolean Operator
(Not)

Not function will return the opposite values from operand

In [ ]:
e= True
not e

False

(AND)

And function will return true if two operand have true values

In [ ]:
e=True
f=False
e and f

False

(OR)

Or function will return true if one of the operand have true values

In [ ]:
e or f

True

Conditional Expression

IF

With if, the decision will determined by the boolean values of the expression. If the expression true so statement block under expression will be executed

ELSE

Else just can be used if there is statement if before. Else is optional and single use

ELIF

Elif is the short of ‘else if’. This statement used to alternative of nested if. Elif is optional and unlimited

In [ ]:
nilai=int(input("Masukan nilai :"))
if nilai >=80: print("Sangat baik")
elif nilai>=70: print("Baik")
elif nilai>=60: print("Cukup baik")
else : print("remed")

Masukan nilai :60
Cukup baik